.infor{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25em;
  border-radius: 10px;
  >p {
    margin: 0 10px !important;
  }
  &:hover {
    cursor: pointer;
    background-color: #f1f1f1f1;
  }
}