

.minimize{
  height: 57px !important
}

@media only screen and (min-width: 640px){ // ipad and laptop
  .iconTop{
    min-width: 300px !important;
    .search_icon{
      display: none !important;
    }

    .search_icon_divider{
      display: none !important;
    }

    .infor{
      display: inherit !important;
    }
    .user_icon{
      display: none !important;
    }
    .user_icon_divider{
      display: none !important;
    }

  }

  .logo{
    display: inherit !important;
  }
  .searchBar{
    display: inherit !important;
  }
}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 1024px){
  .container{
    width: 50% !important;
    .iconTop{
      min-width: 230px !important;
      .message_icon{
        display:  none !important;
      }
      .message_divider{
        display: none !important;
      }
    }
  }
}

.nav{
  transition: all 0.2s;
  z-index: 9;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;
  background-color: #FFFFFF;
  border-bottom: 1px #DBDBDB solid; 
  justify-content: center;
  align-items: center;
  display: flex;
  .container{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logo{
      content: url('../../assets/images/logo.png');
      height: 100%;
      max-width: 200px;
      &:hover{
        cursor: pointer;
      }
    }
    .iconTop{
      min-width: 100%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .icon{
        font-size: 22px;
        :hover{
          cursor: pointer;
        }
      }
      .infor{
        display: none;
      }
      .home_button{
        display: flex;
        align-items: center;
        &:hover{
          cursor: pointer;
        }
      }
    }
    .logo{
      display: none;
    }
    .searchBar{
      display: none;
    }
  }
}

