.edit-infor-form {
	.ant-modal-content {
		top: 50px;
		width: 500px;
		.ant-modal-body {
			padding: 45px;
			.title {
				color: cornflowerblue;
				letter-spacing: 0.01em;
				margin-bottom: 40px;
				text-align: center;
			}

			.ant-calendar-picker-input{
				height: 45px;
			}
			.ant-btn,
			.ant-input-lg {
				height: 45px;
			}

			.ant-input-lg {
				border-radius: 3px;
			}

			.btn-innos{
				height: 40px;
				width: 100%;
			}

		}
	}
}